<section id="locate">

    <div>
        <h2>Ubicaciones</h2>
        <p>Encuentra y reserva el lugar perfecto o comparte tu espacio único con el mundo.</p>
        <div class="btn-group">
            <button class="btn-filled-dark"><span class="material-symbols-outlined">
                pin_drop
            </span>Busca tu locación</button>
            <button class="btn-outline-dark btn-hover-color"><span class="material-symbols-outlined">
            contact_support

            </span> Contáctanos</button>
        </div>
    </div>
</section>
