<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <div class="logo-container">
                    <img src="assets/image/logo aircnc.png" alt="Logo img" class="logo-img">
                </div>
                <p class="footer-text">Encuentra tu lugar perfecto en<br>AirCNC</p>
                <div class="social-icons">
                    <a href="#" class="social-icon"><i data-feather="facebook"></i></a>
                    <a href="#" class="social-icon"><i data-feather="twitter"></i></a>
                    <a href="#" class="social-icon"><i data-feather="linkedin"></i></a>
                </div>
            </div>

            <div class="footer-section">
                <h4 class="footer-title">AirCNC</h4>
                <a href="#" class="footer-link">Inicio</a>
                <a href="#" class="footer-link">Populares</a>
                <a href="#" class="footer-link">Galería</a>
                <a href="#" class="footer-link">Testimonios</a>
                <a href="#" class="footer-link">PQRs</a>
            </div>

            <div class="footer-section">
                <h4 class="footer-title">Landing</h4>
                <a href="#" class="footer-link">App móvil</a>
                <a href="#" class="footer-link">Propiedades</a>
                <a href="#" class="footer-link">Web personal</a>
                <a href="#" class="footer-link">Web desarrollador</a>
            </div>

            <div class="footer-section">
                <h4 class="footer-title">Utilidades</h4>
                <a href="#" class="footer-link">PQRs</a>
                <a href="#" class="footer-link">Términos y condiciones</a>
            </div>
        </div>
    </div>
</footer>