<nav class="navbar">
    <div class="logo-container">
      <img src="../assets/image/logo aircnc.png" alt="Logo img" class="logo">
      <button class="menu-toggle" (click)="navbarOpen = !navbarOpen">
        <i data-feather="menu"></i>
      </button>
    </div>
    <ul class="nav-links">
      <li><a href="#">Populares</a></li>
      <li><a href="#">Subir</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Sobre Nosotros</a></li>
    </ul>
    <button class="login-btn" [routerLink]="['/login']">Iniciar sesión</button>
</nav>