<header>

    <nav>

        <div id="logo">

            <svg width="40" height="32" viewBox="0 0 40 32" fill="none" src="https://th.bing.com/th/id/R.d97d73f5e73dfe85f5cce6558429ebb5?rik=6Y393%2b4rAkA2Xg&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fairbnb-logo-png-airbnb-logo-1600.png&ehk=WAmNzwdvuNRieYe57EPvJlUkIJzLt9Bd0hT0HaEgsvs%3d&risl=&pid=ImgRaw&r=0">

            </svg>

            AirCNC
        </div>
        <ul class="navigation-menu">
            <li><a href="servicios.html">Servicios</a>
                <ul class="subnav">
                    <li class="card-med" id="sup-dog">
                        <div class="card-image"><img src="https://th.bing.com/th/id/R.9f4b62cb4ccb26374d9ec8fd1cc22c5b?rik=OfyTWzsaDiHvMw&riu=http%3a%2f%2fpluspng.com%2fimg-png%2ffree-png-hd-world-globe-download-2400.png&ehk=fDWi2x8PoNg1%2bkoKq%2btkqXPQauAQL6NZOXAgONjHv44%3d&risl=&pid=ImgRaw&r=0"></div>
                        <a href="servicios.html">
                            <span>Estadías</span>
                            <span>Ver más <span class="material-symbols-outlined">
                                    arrow_forward
                                </span></span>
                        </a>
                    </li>
                    <li class="card-med" id="sup-cat">
                        <div class="card-image"><img src="https://th.bing.com/th/id/R.9f4b62cb4ccb26374d9ec8fd1cc22c5b?rik=OfyTWzsaDiHvMw&riu=http%3a%2f%2fpluspng.com%2fimg-png%2ffree-png-hd-world-globe-download-2400.png&ehk=fDWi2x8PoNg1%2bkoKq%2btkqXPQauAQL6NZOXAgONjHv44%3d&risl=&pid=ImgRaw&r=0"></div>
                        <a href="servicios.html">
                            <span>Tus propiedades</span>
                            <span>Ver más <span class="material-symbols-outlined">
                                    arrow_forward
                                </span></span>
                        </a>
                    </li>

                </ul>


            <li><a href="populares.html">Populares</a>
                <ul class="subnav">
                    <li class="card-med" id="serv-groom">
                        <div class="card-image"><img src="https://th.bing.com/th/id/R.ff5f2faa96968d99b0f77838601ac50f?rik=Jo8FNex5CpiEBQ&pid=ImgRaw&r=0"></div>
                        <a href="populares.html">
                            <span>Nacionales</span>
                            <span>Ver más <span class="material-symbols-outlined">
                                    arrow_forward
                                </span></span>
                        </a>
                    </li>
                    <li class="card-med" id="serv-board">
                        <div class="card-image"><img src="https://th.bing.com/th/id/R.9f4b62cb4ccb26374d9ec8fd1cc22c5b?rik=OfyTWzsaDiHvMw&riu=http%3a%2f%2fpluspng.com%2fimg-png%2ffree-png-hd-world-globe-download-2400.png&ehk=fDWi2x8PoNg1%2bkoKq%2btkqXPQauAQL6NZOXAgONjHv44%3d&risl=&pid=ImgRaw&r=0"></div>
                        <a href="populares.html">
                            <span>Internacionales</span>
                            <span>Ver más <span class="material-symbols-outlined">
                                    arrow_forward
                                </span></span>
                        </a>
                </ul>
            </li>
            <li><a href="location.html">Ubicaciones</a>
            </li>
            <li>
                <a href="sobrenosotros.html">Sobre nosotros</a>
            </li>
        </ul>
        <div id="utility">
            <span class="material-symbols-outlined">
                search
            </span>
            <span class="material-symbols-outlined">
                person
            </span>

        </div>
    </nav>
</header>
