<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>AirCNC</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="../styles.css">

</head>
<body>
<!-- partial:index.partial.html -->
<header>

        <nav>

            <div id="logo">

                <svg width="40" height="32" viewBox="0 0 40 32" fill="none" src="https://th.bing.com/th/id/R.d97d73f5e73dfe85f5cce6558429ebb5?rik=6Y393%2b4rAkA2Xg&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fairbnb-logo-png-airbnb-logo-1600.png&ehk=WAmNzwdvuNRieYe57EPvJlUkIJzLt9Bd0hT0HaEgsvs%3d&risl=&pid=ImgRaw&r=0">

                </svg>

                AirCNC
            </div>
            <ul class="navigation-menu">
                <li><a href="servicios.html">Servicios</a>
                    <ul class="subnav">
                        <li class="card-med" id="sup-dog">
                            <div class="card-image"><img src="https://th.bing.com/th/id/R.9f4b62cb4ccb26374d9ec8fd1cc22c5b?rik=OfyTWzsaDiHvMw&riu=http%3a%2f%2fpluspng.com%2fimg-png%2ffree-png-hd-world-globe-download-2400.png&ehk=fDWi2x8PoNg1%2bkoKq%2btkqXPQauAQL6NZOXAgONjHv44%3d&risl=&pid=ImgRaw&r=0"></div>
                            <a href="servicios.html">
                                <span>Estadías</span>
                                <span>Ver más <span class="material-symbols-outlined">
                                        arrow_forward
                                    </span></span>
                            </a>
                        </li>
                        <li class="card-med" id="sup-cat">
                            <div class="card-image"><img src="https://th.bing.com/th/id/R.9f4b62cb4ccb26374d9ec8fd1cc22c5b?rik=OfyTWzsaDiHvMw&riu=http%3a%2f%2fpluspng.com%2fimg-png%2ffree-png-hd-world-globe-download-2400.png&ehk=fDWi2x8PoNg1%2bkoKq%2btkqXPQauAQL6NZOXAgONjHv44%3d&risl=&pid=ImgRaw&r=0"></div>
                            <a href="servicios.html">
                                <span>Tus propiedades</span>
                                <span>Ver más <span class="material-symbols-outlined">
                                        arrow_forward
                                    </span></span>
                            </a>
                        </li>

                    </ul>


                <li><a href="populares.html">Populares</a>
                    <ul class="subnav">
                        <li class="card-med" id="serv-groom">
                            <div class="card-image"><img src="https://th.bing.com/th/id/R.ff5f2faa96968d99b0f77838601ac50f?rik=Jo8FNex5CpiEBQ&pid=ImgRaw&r=0"></div>
                            <a href="populares.html">
                                <span>Nacionales</span>
                                <span>Ver más <span class="material-symbols-outlined">
                                        arrow_forward
                                    </span></span>
                            </a>
                        </li>
                        <li class="card-med" id="serv-board">
                            <div class="card-image"><img src="https://th.bing.com/th/id/R.9f4b62cb4ccb26374d9ec8fd1cc22c5b?rik=OfyTWzsaDiHvMw&riu=http%3a%2f%2fpluspng.com%2fimg-png%2ffree-png-hd-world-globe-download-2400.png&ehk=fDWi2x8PoNg1%2bkoKq%2btkqXPQauAQL6NZOXAgONjHv44%3d&risl=&pid=ImgRaw&r=0"></div>
                            <a href="populares.html">
                                <span>Internacionales</span>
                                <span>Ver más <span class="material-symbols-outlined">
                                        arrow_forward
                                    </span></span>
                            </a>
                    </ul>
                </li>
                <li><a href="location.html">Ubicaciones</a>
                </li>
                <li>
                    <a href="sobrenosotros.html">Sobre nosotros</a>
                </li>
            </ul>
            <div id="utility">
                <span class="material-symbols-outlined">
                    search
                </span>
                <span class="material-symbols-outlined">
                    person
                </span>

            </div>
        </nav>
    </header>
    <section class="hero">
        <h1>AirCNC, donde propietarios y viajeros se conectan!</h1>
        <div class="btn-group">
            <button class="btn-filled-dark"><span class="material-symbols-outlined">
                    search
                </span>Buscar estadías</button>
            <button class="btn-outline-dark btn-hover-color"><span class="material-symbols-outlined">
                    calendar_month
                </span> Reservar ya</button>
        </div>

    </section>
    <section>
        <h2>Servicios</h2>

        <ul class="shop-pets">
            <li class="card-large card-light" id="sup-dog">
                <div class="card-image"><img src="https://pngimg.com/uploads/house/house_PNG22.png"></div>
                <ul>
                    Casas
                    <li><a href="#">Ver más</a></li>
                    <li><a href="#">Agregar</a></li>
                    <li><a href="#">Rurales</a></li>
                    <li><a href="#">Ciudades</a></li>


                    <button class="btn-outline-light">Ver más <span class="material-symbols-outlined">
                            arrow_forward
                        </span></button>

                </ul>


            </li>

            <li class="card-large card-dark" id="sup-cat">
                <div class="card-image"><img src="https://www.pngall.com/wp-content/uploads/8/Vector-Travel-PNG-Free-Download.png"></div>
                <ul>Apartamentos
                    <li><a href="#">Ver más</a></li>
                    <li><a href="#">Agregar</a></li>
                    <li><a href="#">Rurales</a></li>
                    <button class="btn-outline-dark">Ver más <span class="material-symbols-outlined">
                            arrow_forward
                        </span></button>
                </ul>

            </li>

            <li class="card-large card-dark" id="sup-bird">
                <div class="card-image"><img src="https://pngimg.com/uploads/beach/beach_PNG55.png"> </div>
                <ul>Frente a la playa
                    <li><a href="#">Ver más</a></li>
                    <li><a href="#">Agregar</a></li>
                    <li><a href="#">Ciudades</a></li>
                    <button class="btn-outline-dark">Ver más <span class="material-symbols-outlined">
                            arrow_forward
                        </span></button>
                </ul>


        </ul>
    </section>


    <section id="locate">

        <div>
            <h2>Ubicaciones</h2>
            <p>Encuentra y reserva el lugar perfecto o comparte tu espacio único con el mundo.</p>
            <div class="btn-group">
                <button class="btn-filled-dark"><span class="material-symbols-outlined">
pin_drop
</span>Busca tu locación</button>
                <button class="btn-outline-dark btn-hover-color"><span class="material-symbols-outlined">
contact_support
</span> Contáctanos</button>
            </div>
        </div>
    </section>


</body>
</html>
